.darkModeButton {
    float: right;
}

.darkModeActive {
    background-color: #0c1618;
    color: #84c754;            
}

#gameArea {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
}

#clickTarget {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    cursor: pointer;
}

#timer {
    margin-top: 10px;
}
